<div class="container py-4">
  <h3>{{ id ? 'Edit Product' : 'Add Product' }}</h3>

  <form [formGroup]="form" (ngSubmit)="save()">
    <div class="mb-3">
      <label class="form-label">Name</label>
      <input type="text" class="form-control" formControlName="name">
      <div class="text-danger" *ngIf="form.controls['name'].invalid && form.controls['name'].touched">
        Required
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Price</label>
      <input type="number" class="form-control" formControlName="price">
      <div class="text-danger" *ngIf="form.controls['price'].invalid && form.controls['price'].touched">
        Must be > 0
      </div>
    </div>

    <div class="mb-3">
      <label class="form-label">Image</label>
      <input type="file" class="form-control" (change)="onFile($event)">
    </div>

    <button type="submit" class="btn btn-success" [disabled]="form.invalid || saving">
      {{ saving ? 'Saving...' : 'Save' }}
    </button>
  </form>
</div>
